body {
  margin: auto;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.smallnav {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin-left: 32%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
li {
  margin: 25px;
}

.bignav {
  background-color: #ae0b05;
}

main {
  background-color: green;
  width: 1200px;
  height: 2900px;
  margin: 0 auto;
}

footer {
  background-color: blue;
  width: 1200px;
  height: 1020px;
  margin: 0 auto;
}

.nav-helper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
/* Innehåll i mitten*/
.midcontent {
  width: 632px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 75%;
}

.flex-container > div {
  border: 1px solid red;
  width: auto;
  font-size: 15px;
  border-radius: 50px;
  padding: 7px;
}

.div-bar-body {
  border: 1px solid black;
  margin-top: 32px;
  border-radius: 10px;
}

.special-headline {
  padding: 8px;
}

.grid-container {
  border: 1px solid black;
  width: 284px;
}

img {
  max-width: 100%;
}
